/*--------[Global Settings]--------*/
body{
    background: #4F4F4F;
    font-size: 90.1%; /*base font size equals 14px*/
    font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.429;
	margin: 0;
	padding: 0;
	text-align: left;
    }
.body {
	width: 1000px; 
	margin: 0 auto;
	background: #FFFFFF;
	clear: both;
	}
/*HTML5 tags*/	
header, section, footer,
aside, nav, article, figure {
	display: block;
    }	
/*End HTML5 Tags*/
/*--------[micro managed sections]--------*/
#top {
	background: #ffffff;
	position: relative;
	overflow: hidden;
	}
#top h1 {
	position: relative;
	float: left;
	width: 50%;
	color: #727171;
	margin-top: 17px;
	margin-left: 25px;
	line-height: 35px;
	font-weight: 900;
	font-size: 45px;
	text-shadow: 1px 1px 0px #eee, 3px 3px 0px #707070;
	}
/*top navigation*/
#top nav {
	height: 125px;
	margin-right: 50px;
	float: right;
	background: #ffffff;
	}
#top nav a {
	text-decoration: none;
	list-style-type: none;
	font-size: 18px;
	float: left;
	line-height: 75px;
	padding: 5px 10px;
	color: gray;
	font-weight: 100;
	text-shadow: 0px 1px 2px #bbb;  
    -webkit-box-shadow: 0px 2px 4px #888;  
    -moz-box-shadow: 0px 2px 4px #888;  
    box-shadow: 0px 2px 4px #ffffff;
	}
#top nav a:hover {
	background: #ED1C24;
	color: #ffffff;
	box-shadow: 0px 2px 4px #bbb;
	}
/*end top navigation*/	
#slider {
	background: #ffffff;
	position: relative;
	overflow: hidden;
	padding-bottom: 20px;
	margin-bottom: 0px;
	height: 450px;
	}
#slides {
	margin-top: 10px;
	}
	
#container {
	background: #ffffff;
	position: relative;
	overflow: hidden;
	padding-bottom: 20px;
	margin-bottom: 0px;
	}
#content1 {
	overflow: hidden;
	clear: both;
	}
#content2 {
	margin-top: 0px;
	padding-top: 10px;
	}
#content2 aside {
	float: left;
	width: 35%;
	position: relative;
	overflow: hidden;
	}
#content2 aside h1 {
	position: relative;
	float: left;
	width: 300px;
	color: #727171;
	margin-top: 17px;
	line-height: 70px;
	font-weight: 900;
	font-size: 45px;
	text-indent: 50px;
	}
#content2 article {
	width: 600px;
	float: right;
	margin-top: 7px;
	padding: 10px;
	}
#content2 article p {
	font-size: 18px;
	line-height: 20px;
	font-weight: 100;
	padding: 5px;
	text-transform: uppercase;
	margin-top: 10px;
	margin-right: 10px;
	}
#content2 p i {
	color: orange;
	}
#content3 {
	width: 950px;
	margin: 0 auto;
	overflow: hidden;	
	}	
#content3 article {
	width: 30%;
	float: left;
	position: relative;
	margin: 10px;
	height: 400px;
	padding: 5px;
	border-top: 5px solid gray;
	background: #E0DEDE;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E0DEDE', endColorstr='#ffffff'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#E0DEDE), to(#ffffff)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #E0DEDE,  #ffffff); /* for firefox 3.6+ */ 
	border-bottom-radius: 3px;
	-moz-border--bottom-radius: 3px;
	-webkit-border-bottom-radius: 3px;
	box-shadow: 0px 2px 6px #707070;
	}
#content3 article aside {
	margin-left: 7px;
	}
#content3 article h1 {
	background: #ED1C24;
	line-height: 25px;
	padding: 10px 15px;
	border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	float: left;
	margin-right: 10px;
	color: #ffffff;
	}
.thumb {
	width: 75px;
	float: left;
	position: relative;
	padding: 5px;
	background: #bbb;
	margin-right: 5px;
	}
#content3 article h2 {
	height: 25px;
	line-height: 25px;
	font-size: 16px;
	padding: 0px 10px;
	text-indent: 15px;
	padding-top: 17px;
	color: 
	}
#content3 article p {
	width: 75%;
	float: right;
	}
#content3 nav {
	float: right;
	margin-right: 40px;
	}
#content3 nav a {
	clear: both;
	line-height: 25px;
	float: left;
	}
#content3 nav a:hover, #credits nav a:hover {
	color: #FFA500;
	text-decoration: underline;
	}
#credits {
	height: 75px;
	margin-top: 0px;
	}
#credits p{
	line-height: 50px;
	text-align: right;
	padding-right: 25px;
	}	
#credits nav {
	width: 50%;
	position: relative;
	float: left;
	margin-left: 25px;
	line-height: 40px;
	}	
#content3 nav a, #credits nav a {
	text-decoration: none;
	list-style-type: none;
	font-size: 15px;
	float: left;
	padding: 3px 10px;
	color: #4F4F4F;
	}
#credits nav a:hover {
	text-decoration: underline;
	}